*{
    /*outline: 1px dashed grey;*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.App{
    width:100%;


}
.container{
    width: 100%;
    max-width: 1280px;
    margin: auto;
    padding: 5px;
}
.grid-style{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}
.tiny-elements-padding{
    padding: 20px 0;
}
.tiny-elements-padding-tb{
    padding: 150px 0;
}
.tiny-elements-margin-tb{
    padding: 8px 0;
}
.tiny-elements-margin-lr{
    padding: 0 20px;
}
.block-elements-margin{
    margin:30px 0
}
.single-emage{
    width:100%;
    height: 100%;
}
.single-emage-div{
    width:300px;
}
.underline{
    width:20px;
    border-bottom: 4px solid black;
}
.mini-emage{
    width:100%;
    height:100%;
}
.mini-emage-div{
    width:250px;
}
.history-btn{
    padding: 10px;
    border-radius: 10px;
    background: black;
    color: white;
    border: none;

}